# Dependencies
node_modules/
.next/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/
.next/
/.next/
out/
.tsbuildinfo

# IDEs and Tools
.vscode/
.idea/
.DS_Store
*.log
npm-debug.log*

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local